@model _06Demo_ViewBag_ViewData_TempData.IETDbViewModels.IETDbViewModel

<div class="container text-center table-responsive">
    <h2>Emp Data: </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Emp emp in Model.allEmployees)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Name</td>
                    <td>@emp.Address</td>
                </tr>
            }

        </tbody>
    </table>

    <hr />
    <h2>Customer Data: </h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>CId</th>
                <th>CName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer cust in Model.allCustomers)
            {
                <tr>
                    <td>@cust.CId</td>
                    <td>@cust.CName</td>
                </tr>
            }
        </tbody>
    </table>
</div>